<%-include('partials/header.html')%>
<%-include('partials/navigation.html')%>

  <!-- Begin Webpage -->
  <div class="webpage">
    <h3 class="presents-text">Serhant Construction Company</h3>
    <h1 class="title">Payroll <br/> Application</h1> 
    <div class="right-triangle">
    </div>  
  </div>

<%-include('partials/footer.html')%>  