<%-include('partials/header.html')%>
<%-include('partials/navigation.html')%>

<div class="heading">
  <h1 class="title">
    Serhant Construction Company
  </h1>
  <h2>Employee Payroll Application</h2>
</div>

<%-include('partials/footer.html')%>  